<div id="<%= dom_id activity %>">
  <p>
    <strong>Trackable:</strong>
    <%= activity.trackable_id %>
  </p>

  <p>
    <strong>Trackable type:</strong>
    <%= activity.trackable_type %>
  </p>

</div>
